
.sidebar {
/*    -fx-padding: 0;
    -fx-spacing: 0;   */
    -fx-background-color: rgba(247, 189, 0, 1); -fx-background-radius: 0;     
/*    -fx-border-color: #FFFFFF;
    -fx-border-width: 0px;*/
}

/*
.sidebar  .label {
    -fx-text-fill: white;
}
*/