[Desktop Entry]
Encoding=UTF-8
Name=Mars Simulation Project
Version=3.1.0
Comment=A Simulation of the Future Human Settlement on the Red Planet.
GenericName=mar-sim
Exec=/usr/bin/mars-sim
Icon=/usr/share/doc/mars-sim-main/icon.png
Terminal=false
Type=Application
Categories=Education;Science;Simulation
StartupNotify=true