#background {
    -light-blue: #7ebcea;
    -dark-highlight: #2381E9;
    -dark-blue: #2f4b8f ;
    -darkest-blue: #2f4b8f;
    -mid-gray: rgb(216, 222, 227);
    -fx-background-color: #7ebcea;
}

.button {
/*
    -fx-background-color:
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
*/
    -fx-background-color: #065185;        
    -fx-padding: .2em 0.816667em .2em 0.816667em;
    -fx-text-fill: #a2b3db;
    -fx-font-size: 11px;
}

#commit-button {
    -fx-background-color:
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-radius: 10;
    -fx-background-insets: 0,5,0,5,0;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 5 5 5 5;
}

/*******************************************************************************
 *                                                                             *
 * JFX Tab Pane                                                                *
 *                                                                             *
 ******************************************************************************/


.jfx-tab-pane .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-background-color: #065185;
    -fx-alignment: CENTER;    
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #065185; 
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: -fx-focus-color;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #065185;
}


/*******************************************************************************
 *                                                                             *
 * JFX Slider                                                                  *
 *                                                                             *
 ******************************************************************************/

.svg-slider .thumb {
    -fx-stroke: white;
    -fx-fill: white;
}

/*******************************************************
*                           						   *
* For the main demo sliders 						   *
*                          							   *
*******************************************************/

.jfx-slider{
    -jfx-default-thumb: #03a9f4;
    -jfx-default-track: #03a9f4;
    -jfx-indicator-position: right;
    -fx-text-fill: white; 
}

.jfx-slider > .thumb {
    -fx-background-color: #03a9f4;
    -fx-stroke: black;
    -fx-fill: white;
}

.jfx-slider .track {
    -fx-background-color: #7596ad;
    -fx-pref-height: 5px;
    -fx-pref-width: 5px;
    -fx-text-fill: white; 
}

.jfx-slider .animated-thumb{
    -fx-background-color: #03a9f4;
}

.jfx-slider .sliderValue {
    -fx-stroke: white; /* #7ebcea; */
    -fx-font-size: 12.0;
}

.jfx-slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: white;
    -fx-stroke: white;
}

.jfx-slider .axis {
    -fx-tick-label-fill: white;
    -fx-tick-length: 5px;
    -fx-minor-tick-length: 3px;
    -fx-border-color: null;
}

.jfx-tool-bar {
    -fx-font-size: 20;
    -fx-font-weight: BOLD;
    -fx-background-color: transparent;
    -fx-pref-width: 100%;
    -fx-pref-height: 96px;
}

.jfx-tool-bar HBox {
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 0 0;
}

.jfx-tool-bar Label {
    -fx-text-fill: WHITE;
}
