/**
 * Mars Simulation Project
 * msp.css
 * @version 3.04 2013-03-26
 * @author Lars Naesbye Christensen
 */

a:link { color: #0000FF }
a:visited { color: #F000F0 }
body { background-color: #D9D6D6; color: #000000; font-family: Arial, sans-serif }
body, h3 { font-size: 12px }
h2 { font-size: 14px; text-align: center; text-decoration: underline }
h2, h3 { font-weight: bold }
hr { width: 90.0% }
p { margin-left: 5px }
