/**
 * Mars Simulation Project
 * dialog.css
 * @version 3.1.0 2019-09-20
 * @author Manny KUng
 */
 
 
.alert.confirmation.dialog-pane {
    -fx-graphic: url("lock24.png");
}

.dialog > .dialog-pane {
    -fx-background-color: greenyellow;
}

.dialog > .dialog-pane > .button-bar {
    -fx-font-size: 24px;
    -fx-background-color: indianred;
    -fx-font-family: "Andalus";
}

.dialog > .dialog-pane > .content.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold; 
    -fx-fill: blue;
}

.dialog:header > .dialog-pane .header-panel {
    -fx-background-color: cadetblue;
    -fx-font-style: italic;
}
