#my-btn {
    -fx-background-color: #337ab7;
    -fx-border-color: #2e6da4;
    -fx-font-size: 14px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 6px 12px 6px 12px;
    -fx-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -fx-text-fill: white;
}

#my-btn:hover {
    -fx-color: #fff;
    -fx-background-color: #286090;
    -fx-border-color: #204d74;
}

.text-field{
    -fx-min-width: 300;
    -fx-min-height: 35;
}

.text-field:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}

.text-area:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-text-fill: red;
}