/*
 * Mars Simulation Project
 * msp.css
 * @date 2023-04-10
 * @author Lars Naesbye Christensen
 */

ul.navbar {
  list-style-type: none;
  padding: 0.3em;
  top: 3em;
  left: 1.0em;
  width: 14em 
  }
ul.navbar li {
  background: white;
  margin: 0.2em 0;
  padding: 0.2em;
  border-right: 1em solid black 
  }
ul.navbar a {
  text-decoration: none 
  }
  
.column {
  float: left;
}
.left {
  width: 35%;
}
.right {
  padding: 5em;
  width: 65%;
}

a:link {
	color: blue;
	}
a:active {
	color: black;
	}
a:visited {
	color: gray;
	} 
a:hover {
	color: brown;
	} 
body {
	text-indent: 2em;
	background-color: #DDD3D3;
	color: #000;
	font-family: Segoe UI;
	font-size: 16pt;
	margin-left: 6px;
	}
h5 {
	font-size: 18pt;
	line-height: 1.1em;
	margin-left: 20px;	
	}
h4 {
	font-size: 20pt;
	line-height: 1.1em;
	margin-left: 18px;
	}
h3 {
	font-size: 22pt;
	line-height: 1.1em;
	font-family:courier new; 
	font-style: italic;
	text-align: center;	
	}
h2 {
	font-family:sans-serif; 
	font-size: 24pt;
	line-height: 1.2em;
	text-align: center;
	}
h1 {
	font-size: 26pt;
	line-height: 1.2em;
	font-family:Helvetica; 
	text-align: center;
	text-decoration: underline;
	}	
h1, h2, h3 {
	margin-left: 6px;
	font-weight: 800;
	}	
p {
	font-size: 16pt;
	font-family: Segoe UI;
	text-indent: 2em;
	margin-left: 16px;
	}
ul {
  	list-style-type: none;
  	margin-left: 20px;
  /* Use padding to move list item from left to right */
  /* padding-left: .1em; */
}
ul.a {
}
ol { 
/* counter-reset: item; */
	margin-left: 22px;
}