/**
 * Mars Simulation Project
 * msp.css
 * @version 3.1.0 2019-01-31
 * @author Lars Naesbye Christensen
 */

ul.navbar {
  list-style-type: none;
  padding: 0;
  padding: 0.3em;
  top: 3em;
  left: 1.5em;
  width: 14em 
  }
ul.navbar li {
  background: white;
  margin: 1em 0;
  padding: 0.3em;
  border-right: 1em solid black 
  }
ul.navbar a {
  text-decoration: none 
  }
  
.column {
  float: left;
}
.left {
  width: 35%;
}
.right {
  padding: 5em;
  width: 65%;
}

a:link {
	color: blue;
	}
a:active {
	color: black;
	}
a:visited {
	color: gray;
	} 
a:hover {
	color: brown;
	} 
body {
	text-indent: 2em;
	margin-left: 5pt;
	background-color: #DDD3D3;
	color: #000;
	font-family: Segoe UI;
	font-size: 16pt;
	}
h5 {
	font-size: 18pt;
	line-height: 1.1em;
	}
h4 {
	font-size: 20pt;
	line-height: 1.1em;
	}
h3 {
	font-size: 22pt;
	line-height: 1.1em;
	}
h2 {
	font-family:sans-serif; 
	font-size: 24pt;
	line-height: 1.2em;
	text-align: center;
	}
h1 {
	font-size: 26pt;
	line-height: 1.2em;
	font-family:Helvetica; 
	text-align: center;
	text-decoration: underline;
	}	
h1, h2, h3, h4, h5{
	margin-left: 1pt;
	font-weight: 800;
	}	
p {
	font-size: 16pt;
	font-family: Segoe UI;
	text-indent: 2em;
	margin-left: 5pt;
	}
ul {
  list-style-type: none;
  /* Use padding to move list item from left to right */
  padding-left: .5em;
}
ul.a {
}
ol { 
	counter-reset: item 
	margin-left: 2pt;
	}