/**
 * Mars Simulation Project
 * msp.css
 * @version 3.08 2015-12-04
 * @author Lars Naesbye Christensen
 */

a, a:link, a:visited, a:hover{color:rgb(184, 134, 11);}
body {background-color:rgb(50, 50, 50);color:#FFFFFF;font-family:sans-serif;}
body, h3{font-size:14pt;line-height:1.1em;}
h2{font-size:14pt;font-weight:700;line-height:1.2em;text-align:center;}
h3{font-weight:700;}
p{margin-left:13pt;}
hr{width:90%;}
