/**
 * Mars Simulation Project
 * mainmenu.css
 * @version 3.1.0 2017-12-17
 * @author Manny Kung
 */

#menu-button{
	-fx-font-size: 20.0px;
	-fx-stroke-width: 1;
    -fx-text-fill: #FFB03B; /* very light yellow #f9efe0, light mud color: #FFB03B , dark mud : #945f16*/
    -fx-font-weight: italic;
}


#menu-button:hover {
	-fx-font-size: 24.0px;
    -fx-stroke-width: 3;
    -fx-font-weight: bold;
    -fx-text-fill: white; /*light mud color*/ /* #FFDF00; gold */
	-fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);
    -fx-text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}


/*******************************************************************************/

.jfx-combo-box .list-view, .combo-box .list-cell  {
	-fx-font-size: 18.0;
    -fx-background-color: black;
    -fx-text-fill: yellow;
}

.jfx-combo-box .combo-box-popup .list-cell:hover {
	-fx-font-size: 18.0;
    -fx-text-fill: orange;
    -fx-background-color: darkgrey;
}

/*******************************************************************************/

