/**
 * Mars Simulation Project
 * mainskin.css
 * General CSS classes for MSP UI
 * @version 3.1.0 2019-09-20
 * @author Lars Næsbye Christensen
 */


@font-face {
	-fx-font-family: "Noto", Sans;
	src: url("../fonts/notosans/NotoSans-Regular.ttf");
}

@font-face {
	-fx-font-family: "Jura";
	src: url("../fonts/jura/Jura-Regular.ttf");
}


.root {
	-fx-base: rgb(50, 50, 50);
	-fx-background: rgb(50, 50, 50);
	-fx-control-inner-background:  rgb(50, 50, 50);
	-fx-accent: darkgoldenrod;
	-fx-font-family: "Noto";
}


.menu-bar {
	-fx-font-weight: bold;
	-fx-font-family: "Segoe UI Light";
	-fx-font-size: 10pt;
	-fx-background-color:
/*	    linear-gradient(from 0% 93% to 0% 100%, white 0%, #5a59c7 100%),
        white,
        white,
        radial-gradient(center 50% 50%, radius 100%, white, #5a59c7); */
       	linear-gradient(from 0% 93% to 0% 100%, white 0%, #5a59c7 100%),
        #9392da,
        white,
        radial-gradient(center 50% 50%, radius 100%, #9392da, #5a59c7);
    -fx-text-fill: black;
    -fx-border-color: #5a59c7;
}

.menu-item {
	-fx-font-weight: normal;
	-fx-font-family: "Segoe UI Light";
	-fx-font-size: 10pt;
	-fx-background-color:
	    linear-gradient(from 0% 93% to 0% 100%, white 0%, #5a59c7 100%),
        #9392da,
        white,
        radial-gradient(center 50% 50%, radius 100%, #9392da, #5a59c7);
    -fx-text-fill: white;
    -fx-border-color: #9392da7; 
}

.menu .label {
    -fx-text-fill: white;
   	-fx-font-weight: bold;
}


.context-menu {
    -fx-background-color: #5a59c7;
}

.tab {
	-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}

.tool-bar:horizontal {
	-fx-font-weight: normal;
	-fx-font-family: "Noto";
	-fx-font-size: 9pt;
	-fx-background-color: transparent, transparent, transparent, transparent;
	-fx-border-width: 1;
	-fx-border-style: dotted;
	-fx-padding: 4px 4px 4px 4px;
}

.button:hover{
    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), transparent;
}

.button:armed {
    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), rgba(0,0,0,.2);
}

.toggle-button,
.toggle-button:focused,
.toggle-button:selected,
.toggle-button:selected:focused {
    -fx-background-color:
	    linear-gradient(from 0% 93% to 0% 100%, #9392da 0%, #49377d 100%),
        #9392da,
        #3e3e3e,
        radial-gradient(center 50% 50%, radius 100%, #3e3e3e, #49377d);

    -fx-text-fill: white;
    -fx-border-color: #663300;
    -fx-border-radius: 2;
    -fx-padding: 1 1 1 1;
   	-fx-font-weight: bold;
}

.button{
	-fx-background-color:
	    linear-gradient(from 0% 93% to 0% 100%, #9392da 0%, #49377d 100%),
        #9392da,
        #3e3e3e,
        radial-gradient(center 50% 50%, radius 100%, #3e3e3e, #49377d);

    -fx-text-fill: white;
    -fx-border-color: #663300;
    -fx-border-radius: 2;
    -fx-padding: 1 1 1 1;
   	-fx-font-weight: bold;
}

.table-view {
	-fx-table-cell-border-color:derive(-fx-base,+10%);
	-fx-table-header-border-color:derive(-fx-base,+20%);
}

.split-pane:horizontal > * > .split-pane-divider {
	-fx-border-color: transparent -fx-base transparent -fx-base;
	-fx-background-color: transparent, derive(-fx-base,20%);
	-fx-background-insets: 0, 0 1 0 1;
}

.separator {
	-fx-text-fill: -fx-accent;
}