/**
 * Mars Simulation Project
 * oliveskin.css
 * CSS for MainScene
 * @version 3.1.0 2019-09-20
 * @author Manny Kung
 */


.root {
  	-fx-font-family: 'Thierry Font';
    -fx-font-size: 12px;
    	-fx-background-color:
	    linear-gradient(from 0% 93% to 0% 100%, #556B2F 0%, #88976d 100%),
        #556B2F,
        #bbc3ab,
        radial-gradient(center 50% 50%, radius 100%, #bbc3ab, #88976d);
    -fx-text-fill: darkgreen;
    -fx-opacity: 1;
	-fx-base: rgb(50, 50, 50);
	-fx-control-inner-background:  rgb(50, 50, 50);
	-fx-accent: darkgoldenrod;
}

.menu-bar {
	-fx-font-weight: bold;
  	-fx-font-family: 'Thierry Font';
    -fx-font-size: 12px;
	-fx-background-color:
	    linear-gradient(from 0% 93% to 0% 100%, #556B2F 0%, #88976d 100%),
        #556B2F,
        #bbc3ab,
        radial-gradient(center 50% 50%, radius 100%, #bbc3ab, #88976d);

    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
}

.menu-item {
	-fx-font-weight: normal;
  	-fx-font-family: 'Thierry Font';
    -fx-font-size: 12px;
	-fx-background-color:
	    linear-gradient(from 0% 93% to 0% 100%, #556B2F 0%, #88976d 100%),
        #556B2F,
        #bbc3ab,
        radial-gradient(center 50% 50%, radius 100%, #bbc3ab, #88976d);

    -fx-text-fill: rgb(49, 89, 23);
 /*   -fx-border-color: rgb(49, 89, 23); */
}


.context-menu {
    -fx-background-color: #88976d;
}

.menu .label {
    -fx-text-fill: black;
}

.toggle-button,
.toggle-button:focused,
.toggle-button:selected,
.toggle-button:selected:focused {
    -fx-background-color:
	    linear-gradient(from 0% 93% to 0% 100%, #556B2F 0%, #88976d 100%),
        #556B2F,
        #bbc3ab,
        radial-gradient(center 50% 50%, radius 100%, #bbc3ab, #88976d);

    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 2;
    -fx-padding: 1 1 1 1;
   	-fx-font-weight: bold;
}

.button {
	-fx-background-color:
	    linear-gradient(from 0% 93% to 0% 100%, #556B2F 0%, #88976d 100%),
        #556B2F,
        #bbc3ab,
        radial-gradient(center 50% 50%, radius 100%, #bbc3ab, #88976d);

    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 2;
    -fx-padding: 1 1 1 1;
   	-fx-font-weight: bold;
}
