/**
 * Mars Simulation Project
 * snowBlue.css
 * General CSS classes for MSP UI
 * @version 3.1.0 2017-03-08
 * @author Lars Næsbye Christensen
 */

.root {
	-fx-base: rgb(50, 50, 50);
	-fx-background: rgb(50, 50, 50);
	-fx-control-inner-background:  rgb(50, 50, 50);
	-fx-accent: #7ebcea;
	-fx-font-family: "Serif";
}

.table-view {
	-fx-table-cell-border-color:derive(-fx-base,+10%);
	-fx-table-header-border-color:derive(-fx-base,+20%);
}

.split-pane:horizontal > * > .split-pane-divider {
	-fx-border-color: transparent -fx-base transparent -fx-base;
	-fx-background-color: transparent, derive(-fx-base,20%);
	-fx-background-insets: 0, 0 1 0 1;
}

.separator {
	-fx-text-fill: -fx-accent;
}

.button-broadcast{
    -fx-background-color:
        linear-gradient(#065185, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-radius: 10;
    -fx-background-insets: 0,5,0,5,0;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 5 5 5 5;
}

#commit-button{
    -fx-background-color:
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-radius: 10;
    -fx-background-insets: 0,5,0,5,0;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 5 5 5 5;
}

#menu-button{
    -fx-font-size: 1.0em;
    -fx-background-color: transparent;
    -fx-graphic-text-gap: 2px;
    -icons-color: #065185;
    -fx-text-fill: white;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.4) , 6, 0.0 , 0 , 2 );
}
 
#menu-button:pressed:hover{
    -jfx-mask-type: CIRCLE;
    -icons-color: black;
    -fx-text-fill: black;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
 
#menu-button:hover{
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.text-area {
/*	-fx-font: 10pt 'Corbel';				*/
    -fx-font-size       : 0.80em;
/*    -fx-font-family : "Liberation Mono";*/
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-text-fill: #a2b3db;
    -fx-background-color: transparent;
/*    -fx-fill            : transparent;    */
}

#unit_description {
/*	-fx-font: 10pt 'Corbel';				*/
    -fx-font-size       : 1.2em;
/*    -fx-font-family : "Liberation Mono";*/
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-text-fill: #a2b3db;
    -fx-background-color: transparent;
/*    -fx-fill            : transparent;    */
}

#quotation {
/*	-fx-font: 14pt 'Corbel';    */
    -fx-font-size       : 1.0em;
/*    -fx-font-family : "Liberation Mono";*/
    -fx-content-display : left;
    -fx-graphic-text-gap: 7;
    -fx-text-fill       : -foreground-color;
    -fx-background-color: transparent;
}

#quotation .scroll-pane {
    -fx-background-color: transparent;
}

#quotation .scroll-pane .viewport{
    -fx-background-color: transparent;
}


#quotation .scroll-pane .content{
    -fx-background-color: transparent;
}

#quotation .scroll-bar {
    -fx-base: #202020;
    -fx-background: #4f4747;
    -fx-border-color: #707576; /*707576 is mid grey; 4f4747 is dark grey */
}

#quotation .scroll-bar .thumb {
    -fx-background-color: #707576;
}

.label-large {
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #065185;
}

.label-medium {
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 1,1,1,1;
    -fx-background-radius: 5,5,5,5;
    -fx-padding: 5 5 5 5;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #065185;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.label-small .label #status-bar{
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 13px;
    -fx-font-weight: normal;
    -fx-text-fill: #065185;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.label-left {
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 0,0,0,0;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-text-fill: #065185;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.label-right {
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-padding: 5 5 5 5;   
    -fx-background-radius: 0,0,0,0;    
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-font-weight: normal;
    -fx-text-fill: #065185;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.borderpane {
	-fx-border-color: #c1bf9d;
	-fx-border-color: grey;
    -fx-border-insets: 5;
    -fx-border-width: 2;
}

/*  
	03a9f4 is bright mid blue; 
	7ebcea is light blue; 
	a2b3db is very pale bluish purple
    409fe8 is above mid blue;
    3291D2 is mid blue; menu item
    065185 is dull dark blue;    
    206982 is dull dark green;     
    
    #065185 is cyan blue - tab pane bar
    #409fe8 is bright blue
*/

.jfx-toggle-button:focused,
.jfx-toggle-button:selected,
.jfx-toggle-button:selected:focused {
  	-jfx-toggle-color: #409fe8;
    -fx-background-color: transparent;
    -fx-text-fill: #7ebcea; 
    -fx-font-weight: bold;
}

.jfx-toggle-button{
  	-jfx-toggle-color: #065185;
  	-fx-text-fill: white; /* when the toggle button is off */
  	-fx-background-color: transparent;
}

.jfx-button {
	-jfx-toggle-color: #065185; 
}


.jfx-popup-container{
	-fx-background-color: black;
	-fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,30%));
    -fx-background-radius: 10px;
	-fx-text-fill: white;
	-fx-border-color: transparent;
	-fx-border-radius: 10px;
	-fx-border-width: 3px;
	-fx-border-style: solid;
}


/*******************************************************************************/

.ttip{
	/*-fx-background-color:  linear-gradient(greenyellow, limegreen);*/
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 0 0 13 0;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.page-corner {
	-fx-shape: " ";
}


#earth-time-box {
	-fx-padding: 3 0 0 0;
	-fx-background-color: transparent;
	-fx-text-fill: #065185;
	-fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-font-family: "Monospaced";
}


#earth-time {
	-jfx-default-color: #C6D9D9;
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 2,2,2,2;
	-fx-background-color: #065185;    
    -fx-padding: 3 0 0 0;
    -fx-text-fill: #065185;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-stroke-width: 4;
    -fx-font-family: "Monospaced";    
}

#earth-time Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
    -fx-stroke-width: 4;
    
}

#mars-time-box {
	-fx-background-color: #C6D9D9;
    -fx-text-fill: #065185;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-stroke-width: 1;
    -fx-font-family: "Monospaced";
}

#mars-time-button {
	-fx-background-color: transparent;
	-fx-text-fill: #C6D9D9;
	-fx-fill: #C6D9D9;
	-fx-background-insets: 0 0 0 0;	
}

#mars-time-icon {
	-fx-background-color: transparent;
	-fx-fill: #C6D9D9;
}

#mars-time-label {
	-fx-background-color: #C6D9D9;
    -fx-background-radius: 4,4,4,4;	
	-fx-background-insets: 4,0,4,0;
	-fx-padding: 2 0 2 0;
    -fx-text-fill: #065185;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-stroke-width: 1;
    -fx-font-family: "Monospaced";
}

#mars-time Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
    -fx-stroke-width: 4;    
}

#mars-time-label:hover {
    -fx-font-weight: italic;
}

#button-orange {
    -fx-background-color:
        #000000,
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #EA8002 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 0,0,0,0;
    -fx-padding: 0 0 0 0;
    -fx-text-fill: #654b00;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#save-label {
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-font-weight: italic;
}

/*******************************************************************************
*                                                                              *
* JFX Check Box                                                                *
*                                                                              *
*******************************************************************************/

.jfx-check-box {
    -jfx-checked-color: gray;
    -jfx-unchecked-color: gray;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-weight: BOLD;
    -fx-font-size: 12;
    -fx-font-weight: italic;
}

.jfx-check-box > .box {
    -jfx-checked-color: gray;
    -jfx-unchecked-color: gray;
    -fx-text-fill: white;
    -jfx-background-color: transparent;
}


/*******************************************************************************
*                                                                              *
* JFX Combo Box                                                               *
*                                                                              *
*******************************************************************************/

.combo-box-base {
    -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.jfx-combo-box .list-cell  {
	-fx-font-size: 12.0;
	-fx-background: transparent;
    -fx-background-color: grey;
    -fx-text-fill: white;
}

.jfx-combo-box .text-field {
	-fx-font-size: 12.0;
	-fx-background: transparent;
    -fx-background-color: grey;
    -fx-text-fill: white; 
    -fx-cell-size: 1.66667em;
    -fx-pref-height: 25;
}

#map-tool-anchor-pane {
	-fx-background-color:
		linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
		linear-gradient(#020b02, #3a3a3a),
		linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
		linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
		linear-gradient(#777777 0%, #606060 50%, #505250 51%, #777777 100%);
	-fx-background-insets: 0,1,4,5,6;
	-fx-background-radius: 9,8,5,4,3;
	-fx-padding: 1 1 1 1;
	-fx-font-family: 'Helvetica';
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-opacity: .75;
	-fx-text-fill: white;
	-fx-effect: dropshadow( three-pass-box , rgba(128, 128, 128, 0.2), 1, 0.0, 0, 1);
}

