/**
 * Mars Simulation Project
 * themeskin.css
 * CSS for MSP UI
 * @version 3.1.0 2019-09-20
 * @author Manny Kung
 */


.root {
  	/*-fx-font-family: 'Thierry Font';*/
    -fx-font-size: 12px;
}

.button{
	-fx-background-color:
	    linear-gradient(from 0% 93% to 0% 100%, #317cb4 0%, #195481 100%),
        #317cb4,
        #9dd0e3,
        radial-gradient(center 50% 50%, radius 100%, #9dd0e3, #195481);

    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 0;
    -fx-padding: 0 0 0 0;
}
