.TitleBar {
	-fx-background-color: GREY;
	-fx-max-height: 25px;
	-fx-min-height: 25px;
}

.titleLabel {
	-fx-font-size: 20px;
	-fx-text-fill: WHITE;
}

.background {
	-fx-background-color: WHITE;
}

.leftWindowBorder {
	-fx-background-color: BLACK;
	-fx-max-width: 5px;
	-fx-min-width: 5px;
}

.rightWindowBorder {
	-fx-background-color: BLACK;
	-fx-max-width: 5px;
	-fx-min-width: 5px;
}

.bottomWindowBorder {
	-fx-background-color: BLACK;
	-fx-max-height: 5px;
	-fx-min-height: 5px;
}

.topWindowBorder {
	-fx-background-color: BLACK;
	-fx-max-height: 5px;
	-fx-min-height: 5px;
}

.bottomRightWindowCorner {
	-fx-background-color: BLACK;
	-fx-max-height: 5px;
	-fx-max-width: 5px;
	-fx-min-height: 5px;
	-fx-min-width: 5px;
}

.bottomLeftWindowCorner {
	-fx-background-color: BLACK;
	-fx-max-height: 5px;
	-fx-max-width: 5px;
	-fx-min-height: 5px;
	-fx-min-width: 5px;
}

.topRightWindowCorner {
	-fx-background-color: BLACK;
	-fx-max-height: 5px;
	-fx-max-width: 5px;
	-fx-min-height: 5px;
	-fx-min-width: 5px;
}

.topLeftWindowCorner {
	-fx-background-color: BLACK;
	-fx-max-height: 5px;
	-fx-max-width: 5px;
	-fx-min-height: 5px;
	-fx-min-width: 5px;
}

.titleBarButtons {
	
}

.maximizeButton {
	-fx-background-image: url("maximize.png");
	-fx-background-size: 100%;
	-fx-min-height: 25px;
	-fx-min-width: 25px;
}

.closeButton {
	-fx-background-image: url("close.png");
	-fx-background-size: 100%;
	-fx-min-height: 25px;
	-fx-min-width: 25px;
}

.externalizeButton {
	-fx-background-image: url("externalize.png");
	-fx-background-size: 100%;
	-fx-min-height: 25px;
	-fx-min-width: 25px;
}