/**
 * Mars Simulation Project
 * menuskin.css
 * JavaFX classes for MSP's main menu view
 * @version 3.08 2015-01-27
 * @author Lars Næsbye Christensen
 */

@font-face {
font-family: "Noto";
src: url("../fonts/notosans/NotoSans-Regular.ttf");
} 

@font-face {
font-family: "Jura";
src: url("../fonts/jura/Jura-Regular.ttf");
} 

.root {
-fx-background: rgb(50, 50, 50);
-fx-background-color: black;
}
 
.button {
-fx-background-color: transparent;
-fx-text-alignment: center;
-fx-font-family: "Jura";
-fx-font-size: 28pt;
}
 
.button:hover {
-fx-color: -fx-hover-base;
}
 
