/**
 * Mars Simulation Project
 * mainmenu.css
 * General CSS classes for MSP UI
 * @version 3.08 2015-10-15
 * @author Manny Kung
 */

#menu-button{
	-fx-font-size: 20.0px;
	-fx-stroke-width: 2;
    -fx-text-fill: white; /* very light yellow #f9efe0, light mud color: #FFB03B , dark mud : #945f16*/
    -fx-font-weight: bold;
}


#menu-button:hover {
	-fx-font-size: 24.0px;
    -fx-stroke-width: 3;
    -fx-font-weight: bold;
    -fx-text-fill: white; /*light mud color*/ /* #FFDF00; gold */
	-fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);
    -fx-text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}


/*
.label {
    -fx-stroke-width: 3;
    -fx-font-weight: bold;
    -fx-text-fill: #e5f3f6; 
    -fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);
}
*/
