/**
 * Mars Simulation Project
 * nimrodskin.css
 * General CSS classes for MSP UI
 * @version 3.1.0 2017-03-08
 * @author Lars Næsbye Christensen
 */

/*
@font-face {
	-fx-font-family: "Noto", Sans;
	src: url("../fonts/notosans/NotoSans-Regular.ttf");
}

@font-face {
	-fx-font-family: "Jura";
	src: url("../fonts/jura/Jura-Regular.ttf");
}
*/

.root {
	-fx-base: rgb(50, 50, 50);
	-fx-background: rgb(50, 50, 50);
	-fx-control-inner-background:  rgb(50, 50, 50);
	-fx-accent: darkgoldenrod;
	-fx-font-family: "Serif";
}


.menu-bar,
.menu-bar:focused,
.menu-bar:selected:focused {
	-fx-font-size: 10pt;
	-fx-font-weight: normal;
	-fx-background-color:
	 	linear-gradient(from 0% 93% to 0% 100%, #E5AB00 0%, #EFB500 100%),
        #E5AB00,
        #F9BF00,
        radial-gradient(center 50% 50%, radius 100%, #F9BF00, #EFB500);
    -fx-text-fill: white;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.menu-item,
.menu-item:focused,
.menu-item:selected:focused {
	-fx-font-size: 10pt;
	-fx-font-weight: normal;
	-fx-background-color:
	 	linear-gradient(from 0% 93% to 0% 100%, #F9BF00 0%, #E5AB00 100%),
        #F9BF00,
        #EFB500,
        radial-gradient(center 50% 50%, radius 100%, #9EFB500, #E5AB00);
    -fx-text-fill: white;
}

.menu .label {
    -fx-text-fill: white;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.context-menu {
    -fx-background-color: #E5AB00;
}

.tab {
	-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}

.table-view {
	-fx-table-cell-border-color:derive(-fx-base,+10%);
	-fx-table-header-border-color:derive(-fx-base,+20%);
}

.split-pane:horizontal > * > .split-pane-divider {
	-fx-border-color: transparent -fx-base transparent -fx-base;
	-fx-background-color: transparent, derive(-fx-base,20%);
	-fx-background-insets: 0, 0 1 0 1;
}

.separator {
	-fx-text-fill: -fx-accent;
}


.button-broadcast{
    -fx-background-color:
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 10;
    -fx-background-insets: 0,5,0,5,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 5 5 5 5;

}

#commit-button{
    -fx-background-color:
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 10;
    -fx-background-insets: 0,5,0,5,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 5 5 5 5;
}

#menu-button{
    -fx-font-size: 1.0em;
    -fx-background-color: transparent;
    -fx-graphic-text-gap: 2px;
    -icons-color: #f8c202;
    -fx-text-fill: #f8c202;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.4) , 6, 0.0 , 0 , 2 );
}
 
.menu-button:pressed:hover{
    -jfx-mask-type: CIRCLE;
    -icons-color: black; 
    -fx-text-fill: black; 
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
 
.menu-button:hover{
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}


.text-area {
/*	-fx-font: 10pt 'Corbel';				*/
    -fx-font-size       : 0.80em;
    -fx-font-family : "Liberation Mono";
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-text-fill: #f4f13f;
    -fx-background-color: transparent;
/*    -fx-fill            : transparent;    */
}

#unit_description {
/*	-fx-font: 10pt 'Corbel';				*/
    -fx-font-size       : 1.2em;
    -fx-font-family : "Liberation Mono";
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-text-fill: #f4f13f;
    -fx-background-color: transparent;
/*    -fx-fill            : transparent;    */
}

#quotation {
/*	-fx-font: 14pt 'Corbel';    */
    -fx-font-size       : 1.0em;
    -fx-font-family : "Liberation Mono";
    -fx-content-display : left;
    -fx-graphic-text-gap: 7;
    -fx-text-fill       : -foreground-color;
    -fx-background-color: transparent;
}

#quotation .scroll-pane {
    -fx-background-color: transparent;
}

#quotation .scroll-pane .viewport{
    -fx-background-color: transparent;
}


#quotation .scroll-pane .content{
    -fx-background-color: transparent;
}

#quotation .scroll-bar {
    -fx-base: #202020;
    -fx-background: #4f4747;
    -fx-border-color: #707576;
}

#quotation .scroll-bar .thumb {
    -fx-background-color: #707576;
}

.label-large {
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #b85c01;
}

.label-medium {
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #c1bf9d 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#c1bf9d 0%, #c2c2c2 20%, #c1bf9d 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #c1bf9d 100%);
    -fx-background-insets: 1,1,1,1;
    -fx-background-radius: 5,5,5,5;
    -fx-padding: 5 5 5 5;
    -fx-font-family: "Helvetica";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #b85c01;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.label-small {
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #b85c01;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.label-left{
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 0,0,0,0;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #b85c01;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.label-right{
    -fx-background-color:
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 0,0,0,0;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #b85c01;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.borderpane {
	-fx-border-color: #c1bf9d;
	-fx-background-color: #c1bf9d;
    -fx-border-insets: 5;
    -fx-border-width: 2;

}

.jfx-toggle-button:focused,
.jfx-toggle-button:selected,
.jfx-toggle-button:selected:focused {
  	-jfx-toggle-color: #f8c202;
    -fx-background-color: transparent;
    -fx-text-fill: yellow;
    -fx-font-weight: bold;
}

.jfx-toggle-button{
  	-jfx-toggle-color: #f8c202;
  	-fx-text-fill: white; /*when the toggle button is off */
  	-fx-background-color: transparent;
}

.jfx-button {
	-jfx-toggle-color: #f8c202; /* f8c202 is mud mid orange */
}

.jfx-slider {
  	-fx-background-color: transparent; /* only this setting works. other color settings on jfx-slider don't */
	-fx-indicator-position: right;
  	-fx-snap-to-ticks : true;
    -fx-font-size: 14px;
    -fx-text-fill: #f8c202;
}

.jfx-slider .thumb{
	-fx-stroke : black;
	-fx-fill : black;
}

.jfx-slider: disabled {
	-fx-opacity: 0.4;
}


.jfx-slider > .thumb {
	-fx-background-color: #f8c202;
}

.jfx-slider > .track {
	-fx-background-color: gray;
	-fx-pref-height: 2px;
	-fx-pref-width: 2px;
}

.jfx-slider > .sliderValue {
	-fx-stroke: #f8c202; /* 00cc66 is mid green */
	-fx-font-size: 12.0;
}

.jfx-popup-container{
	-fx-background-color: black;
	-fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,30%));
    -fx-background-radius: 10px;
	-fx-text-fill: yellow;
	-fx-border-color: transparent;
	-fx-border-radius: 10px;
	-fx-border-width: 3px;
	-fx-border-style: solid;
}


/*******************************************************************************
*                                                                              *
* JFX Check Box                                                                *
*                                                                              *
*******************************************************************************/

.jfx-check-box > .box {
    -jfx-checked-color: gray;
    -jfx-unchecked-color: gray;
    -fx-text-fill: yellow;
	-jfx-background-color: transparent; 
}


.jfx-check-box {
    -jfx-checked-color: gray;
    -jfx-unchecked-color: gray;
    -fx-text-fill: yellow;
	-fx-background-color: transparent;  
    -fx-font-weight: BOLD;
    -fx-font-size: 12;
    -fx-font-weight: italic;
}

/*******************************************************************************/

.combo-box-base {
    -fx-skin: "com.sun.javafx.scene.control.skin.ComboBoxBaseSkin";
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-text-fill: yellow;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.jfx-combo-box .list-cell  {
	-fx-font-size: 12.0;
	-fx-background: transparent;
    -fx-background-color: #917215; /* #917215; */
    -fx-text-fill: yellow;
}

.jfx-combo-box .text-field {
	-fx-font-size: 12.0;
	-fx-background: transparent;
    -fx-background-color: #654b00;
    -fx-text-fill: yellow;
    -fx-cell-size: 1.66667em;
    -fx-pref-height: 25;
}

/*******************************************************************************/

.ttip{
	/*-fx-background-color:  linear-gradient(greenyellow, limegreen);*/
	-fx-background-insets: 0,1,2;
    -fx-background-radius: 0 0 13 0;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}

.page-corner {
	-fx-shape: " ";
}

.jfx-snackbar-content {
	-fx-background-color: white; /* #323232; */
    -fx-padding: 5;
    -fx-spacing: 5;
}

.jfx-snackbar-toast {
	-fx-text-fill: black;
}

.jfx-snackbar-action {
	-fx-text-fill: orange; /* #ff4081;	*/
}

#rich-green {
    -fx-background-color:
        linear-gradient(#2c9310 0%, #6ec10f 50%, #1b6307 100%),
        linear-gradient(from 0% 5% to 50% 100%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 2,2,2,2;
    -fx-padding: 0 0 0 0;
    -fx-text-fill: dark-green;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-family: "Libeartion Mono";    
}

#rich-green Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

#rich-red {
    -fx-background-color:
        linear-gradient(#ff845b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(from 100% 50% to 5% 0%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,0,0,0;
    -fx-background-radius: 2,2,2,2;
    -fx-padding: 0 0 0 0;
    -fx-text-fill: #cc6308;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-font-family: "Libeartion Mono";
}

#rich-red Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

#rich-red Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

#button-orange {
    -fx-background-color:
        #000000,
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #EA8002 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-insets: 0,1,2,1;
    -fx-background-radius: 2,2,2,2;
    -fx-padding: 0 7 0 7;
    -fx-text-fill: #654b00;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

#rich-orange:hover {
    -fx-text-fill: black;
}
#rich-blue:hover {
    -fx-text-fill: white;
}

#save-label {
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 3 10 3 10;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}