/**
 * Mars Simulation Project
 * nimrodskin.css
 * General CSS classes for MSP UI
 * @version 3.08 2015-01-27
 * @author Lars Næsbye Christensen
 */


@font-face {
	-fx-font-family: "Noto", Sans;
	src: url("../fonts/notosans/NotoSans-Regular.ttf");
}

@font-face {
	-fx-font-family: "Jura";
	src: url("../fonts/jura/Jura-Regular.ttf");
}


.root {
	-fx-base: rgb(50, 50, 50);
	-fx-background: rgb(50, 50, 50);
	-fx-control-inner-background:  rgb(50, 50, 50);
	-fx-accent: darkgoldenrod;
	-fx-font-family: "Noto";
}


.menu-bar,
.menu-bar:focused,
.menu-bar:selected:focused {
	-fx-font-size: 10pt;
	-fx-font-weight: normal;
	-fx-background-color:
	 	linear-gradient(from 0% 93% to 0% 100%, #E5AB00 0%, #EFB500 100%),
        #E5AB00,
        #F9BF00,
        radial-gradient(center 50% 50%, radius 100%, #F9BF00, #EFB500);
    -fx-text-fill: white;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.menu-item,
.menu-item:focused,
.menu-item:selected:focused {
	-fx-font-size: 10pt;
	-fx-font-weight: normal;
	-fx-background-color:
	 	linear-gradient(from 0% 93% to 0% 100%, #F9BF00 0%, #E5AB00 100%),
        #F9BF00,
        #EFB500,
        radial-gradient(center 50% 50%, radius 100%, #9EFB500, #E5AB00);
    -fx-text-fill: white;
}

.menu .label {
    -fx-text-fill: white;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.context-menu {
    -fx-background-color: #E5AB00;
}

.tab {
	-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}

.tool-bar:horizontal {
	-fx-font-weight: normal;
	-fx-font-family: "Noto";
	-fx-font-size: 9pt;
	-fx-background-color: transparent, transparent, transparent, transparent;
	-fx-border-width: 1;
	-fx-border-style: dotted;
	-fx-padding: 4px 4px 4px 4px;
}

.toggle-button,
.toggle-button:focused,
.toggle-button:selected:focused {
	-fx-base: #E5AB00;
    -fx-background-color: linear-gradient(#E5AB00, #F9BF00);
    -fx-text-fill: white;
    -fx-border-color: #ADAB89;
    -fx-padding: 1 1 1 1;
   	-fx-font-weight: normal;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.toggle-button:selected{
    -fx-background-color: grey;
    -fx-text-fill: #E5AB00;
}

.toggle-button .text {
    -fx-text-fill: white; /* text color inside the button */
   	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button {
	-fx-background-color: linear-gradient(#F9BF00, #E5AB00);
    -fx-text-fill: white; /* text color inside the button */
    -fx-border-color: #ADAB89;
    -fx-border-radius: 2;
    -fx-padding: 1 1 1 1;
   	-fx-font-weight: normal;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );

}

.button .text {
    -fx-text-fill: white; /* text color inside the button */
   	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.button:selected{
    -fx-background-color: white;
    -fx-text-fill: #E5AB00;
}

.button:armed {
/*    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), rgba(0,0,0,.2); */
}

.table-view {
	-fx-table-cell-border-color:derive(-fx-base,+10%);
	-fx-table-header-border-color:derive(-fx-base,+20%);
}

.split-pane:horizontal > * > .split-pane-divider {
	-fx-border-color: transparent -fx-base transparent -fx-base;
	-fx-background-color: transparent, derive(-fx-base,20%);
	-fx-background-insets: 0, 0 1 0 1;
}

.separator {
	-fx-text-fill: -fx-accent;
}