/**
 * Mars Simulation Project
 * nimrodskin.css
 * General CSS classes for MSP UI
 * @version 3.08 2015-01-27
 * @author Lars Næsbye Christensen
 */


@font-face {
	-fx-font-family: "Noto", Sans;
	src: url("../fonts/notosans/NotoSans-Regular.ttf");
}

@font-face {
	-fx-font-family: "Jura";
	src: url("../fonts/jura/Jura-Regular.ttf");
}


.root {
	-fx-base: rgb(50, 50, 50);
	-fx-background: rgb(50, 50, 50);
	-fx-control-inner-background:  rgb(50, 50, 50);
	-fx-accent: darkgoldenrod;
	-fx-font-family: "Noto";
}


.menu-bar {
	-fx-font-weight: bold;
  	-fx-font-family: 'Thierry Font';
    -fx-font-size: 12px;
	-fx-background-color:
	 	linear-gradient(from 0% 93% to 0% 100%, #e79d1b 0%, #ff8861 100%),
        #e79d1b,
        #9c4d00,
        radial-gradient(center 50% 50%, radius 100%, #9c4d00, #ff8861);
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
}

.menu-item {
	-fx-font-weight: normal;
  	-fx-font-family: 'Thierry Font';
    -fx-font-size: 12px;
	-fx-background-color:
	 	linear-gradient(from 0% 93% to 0% 100%, #e79d1b 0%, #ff8861 100%),
        #e79d1b,
        #9c4d00,
        radial-gradient(center 50% 50%, radius 100%, #9c4d00, #ff8861);
     -fx-text-fill: rgb(49, 89, 23);
 /*   -fx-border-color: rgb(49, 89, 23); */
}

.menu .label {
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: #d16700;
}

.tab {
	-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}

.tool-bar:horizontal {
	-fx-font-weight: normal;
	-fx-font-family: "Noto";
	-fx-font-size: 9pt;
	-fx-background-color: transparent, transparent, transparent, transparent;
	-fx-border-width: 1;
	-fx-border-style: dotted;
	-fx-padding: 4px 4px 4px 4px;
}

.button:hover{
/*    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), transparent; */
}

.button:armed {
    -fx-background-color: transparent, rgba(0,0,0,.1), rgba(0,0,0,.1), rgba(0,0,0,.2);
}


.button{
	-fx-background-color:
	 	linear-gradient(from 0% 93% to 0% 100%, #e79d1b 0%, #ff8861 100%),
        #e79d1b,
        #9c4d00,
        radial-gradient(center 50% 50%, radius 100%, #9c4d00, #ff8861);
    -fx-text-fill: #eae800; /* text color inside the button */
    -fx-border-color: #663300;
    -fx-border-radius: 2;
    -fx-padding: 1 1 1 1;
}

.table-view {
	-fx-table-cell-border-color:derive(-fx-base,+10%);
	-fx-table-header-border-color:derive(-fx-base,+20%);
}

.split-pane:horizontal > * > .split-pane-divider {
	-fx-border-color: transparent -fx-base transparent -fx-base;
	-fx-background-color: transparent, derive(-fx-base,20%);
	-fx-background-insets: 0, 0 1 0 1;
}

.separator {
	-fx-text-fill: -fx-accent;
}