/**
 * Mars Simulation Project
 * mainskin.css
 * General CSS classes for MSP UI
 * @version 3.08 2015-01-27
 * @author Lars Næsbye Christensen
 */


@font-face {
	-fx-font-family: "Noto", Sans;
	src: url("../fonts/notosans/NotoSans-Regular.ttf");
}

@font-face {
	-fx-font-family: "Jura";
	src: url("../fonts/jura/Jura-Regular.ttf");
}


.root {
	-fx-base: rgb(50, 50, 50);
	-fx-background: rgb(50, 50, 50);
	-fx-control-inner-background:  rgb(50, 50, 50);
	-fx-accent: darkgoldenrod;
	-fx-font-family: "Noto";
}

.button-raised{
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(77,102,204);
    -fx-pref-width: 200;
    -fx-font: bold 10pt 'Corbel'; 
 }

.tab {
	-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}

.tool-bar:horizontal {
	-fx-font-weight: normal;
	-fx-font-family: "Noto";
	-fx-font-size: 9pt;
	-fx-background-color: transparent, transparent, transparent, transparent;
	-fx-border-width: 1;
	-fx-border-style: dotted;
	-fx-padding: 4px 4px 4px 4px;
}


.menu-bar {
	-fx-font-weight: normal;
/*	-fx-font-family: "Segoe UI Light"; */
	-fx-font-size: 10pt;
	-fx-background-color: #3291D2;
	-fx-text-fill: white;
/*    -fx-border-color: #006bb8; */
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.menu-item {
	-fx-font-weight: normal;
/*	-fx-font-family: "Segoe UI Light"; */
	-fx-font-size: 10pt;
	-fx-background-color: #3291D2;
	-fx-text-fill: white;
/*    -fx-border-color: #006bb8; */
}

.menu .label {
    -fx-text-fill: white;
   	-fx-font-weight: normal;
   	-fx-font-size: 10pt;
	-fx-background-color: #3291D2;
/* 	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 ); */
}


.context-menu {
    -fx-background-color: #3291D2;
}


.table-view {
	-fx-table-cell-border-color:derive(-fx-base,+10%);
	-fx-table-header-border-color:derive(-fx-base,+20%);
}

.split-pane:horizontal > * > .split-pane-divider {
	-fx-border-color: transparent -fx-base transparent -fx-base;
	-fx-background-color: transparent, derive(-fx-base,20%);
	-fx-background-insets: 0, 0 1 0 1;
}

.separator {
	-fx-text-fill: -fx-accent;
}