/**
 * Mars Simulation Project
 * mainskin.css
 * General CSS classes for MSP UI
 * @version 3.08 2015-01-27
 * @author Lars Næsbye Christensen
 */


@font-face {
	-fx-font-family: "Noto", Sans;
	src: url("../fonts/notosans/NotoSans-Regular.ttf");
}

@font-face {
	-fx-font-family: "Jura";
	src: url("../fonts/jura/Jura-Regular.ttf");
}


.root {
	-fx-base: rgb(50, 50, 50);
	-fx-background: rgb(50, 50, 50);
	-fx-control-inner-background:  rgb(50, 50, 50);
	-fx-accent: darkgoldenrod;
	/*-fx-font-family: "Noto"; */
}


.tab {
	-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}

.tool-bar:horizontal {
	-fx-font-weight: normal;
	-fx-font-family: "Noto";
	-fx-font-size: 9pt;
	-fx-background-color: transparent, transparent, transparent, transparent;
	-fx-border-width: 1;
	-fx-border-style: dotted;
	-fx-padding: 4px 4px 4px 4px;
}


.menu-bar {
	-fx-font-weight: normal;
/*	-fx-font-family: "Segoe UI Light"; */
	-fx-font-size: 10pt;
	-fx-background-color: #3291D2;
	-fx-text-fill: white;
/*    -fx-border-color: #006bb8; */
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.menu-item {
	-fx-font-weight: normal;
/*	-fx-font-family: "Segoe UI Light"; */
	-fx-font-size: 10pt;
	-fx-background-color: #3291D2;
	-fx-text-fill: white;
/*    -fx-border-color: #006bb8; */
}

.menu .label {
    -fx-text-fill: white;
   	-fx-font-weight: normal;
   	-fx-font-size: 10pt;
	-fx-background-color: #3291D2;
/* 	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 ); */
}


.context-menu {
    -fx-background-color: #3291D2;
}


.table-view {
	-fx-table-cell-border-color:derive(-fx-base,+10%);
	-fx-table-header-border-color:derive(-fx-base,+20%);
}

.split-pane:horizontal > * > .split-pane-divider {
	-fx-border-color: transparent -fx-base transparent -fx-base;
	-fx-background-color: transparent, derive(-fx-base,20%);
	-fx-background-insets: 0, 0 1 0 1;
}

.separator {
	-fx-text-fill: -fx-accent;
}

.button-broadcast{
    -fx-background-color: 
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-radius: 10;
    -fx-background-insets: 0,5,0,5,0;
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 5 5 5 5;
}

.text-area {
	-fx-font: 10pt 'Corbel';
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-text-fill: #a2b3db;
}

.label-large {
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #065185;
}

.label-small {
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 13px;
    -fx-font-weight: normal;
    -fx-text-fill: #065185;
        -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}

.borderpane {
	-fx-border-color: #c1bf9d;
	-fx-border-color: grey;
    -fx-border-insets: 5;
    -fx-border-width: 2;
}

.jfx-toggle-button:focused,
.jfx-toggle-button:selected,
.jfx-toggle-button:selected:focused {
  	-fx-toggle-color: #00cc66;
    -fx-background-color: transparent;
    -fx-text-fill: #00cc66;
    -fx-font-weight: bold;
}

.jfx-toggle-button{
  	-fx-text-fill: GREY;
}

.jfx-button {
	-fx-toggle-color: #00ff00;
}

.jfx-slider {
  	-fx-background-color: #00ff00;
  	-fx-snap-to-ticks : true;
    -fx-font-size: 14px;
    -fx-text-fill: #00ff00;;    
}


/*******************************************************************************
 *                                                                             *
 * JFX Slider                                                                  *
 *                                                                             *
 ******************************************************************************/

.svg-slider .thumb{
	-fx-stroke : black;
	-fx-fill : black;
}
.jfx-slider:disabled {
	-fx-opacity: 0.4;
}

/*******************************************************
*                           						   *
* For the main demo sliders 						   *
*                          							   *
*******************************************************/

.jfx-slider-style {
	-fx-indicator-position: right;
}

.jfx-slider-style > .thumb {
	-fx-background-color:#03a9f4;
}

.jfx-slider-style .track {
	-fx-background-color: #ff5252;
	-fx-pref-height: 5px;
	-fx-pref-width: 5px;
}

.jfx-slider-style .sliderValue {
	-fx-stroke: #00cc66;
	-fx-font-size: 12.0;
}

