/**
 * Mars Simulation Project
 * configEditorFXOrange.css
 * @version 3.1.0 2019-09-20
 * @author Manny Kung
 */

/* The Stage background. 
.decoration-background{
	-fx-fill: radial-gradient(focus-angle 45deg, focus-distance 20%, center 25% 25%, radius 50%, reflect, #eeeeee88, #aaaaaa88 75%, gray);
	-fx-stroke-width: 0;
	-fx-arc-width:20px;
	-fx-arc-height:20px;
}
*/
/* Defines the rectangle responsible for the shadow 
.decoration-shadow{
	-fx-fill: black;
	-fx-stroke-width: 0;
	-fx-arc-width:20px;
	-fx-arc-height:20px;
}
*/
/*
.button {
	
    -fx-button-type: RAISED;	
    -fx-padding: 2 15 2 15;
	-fx-font-size: 15.0px;
	-fx-base: white;
	-fx-background: white;
	-fx-focus-color: #f78e3d;
	-fx-control-inner-background: #FFFFFF;
	-fx-text-base-color: #FFFFFF;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-color: orange;
    -fx-background-radius: 5;
}

.button:focused {
	-fx-background-color: orange;
}
*/
.button:hover {
	-fx-focus-color: #f78e3d;
	-fx-stroke-width: 5;
	-fx-background-color: #E9D66B;
}

.button:pressed {
/*
    -fx-padding: 15 5 15 5;
    -fx-background-insets: 2 0 0 0,2 0 1 0, 2 0 2 0, 2 0 3 0;
*/
}

.button-large{
   /* -fx-padding: 0.7em 0.57em;*/
    -fx-font-size: 15px;
    -fx-button-type: RAISED;
    -fx-background-color: white;
    -fx-pref-width: 70; 
    -fx-text-fill: WHITE;
    -fx-stroke-width: 4;    
    -fx-font-weight: bold;    
}

.button-mid{
   /* -fx-padding: 0.7em 0.57em;*/
    -fx-font-size: 15px;
    -fx-button-type: RAISED;
    -fx-background-color: white;
    -fx-pref-width: 40; 
    -fx-text-fill: WHITE;
    -fx-stroke-width: 4;    
    -fx-font-weight: bold;    
}

.button-small{
    -fx-padding: 0.1em 0.1em; 
    -fx-font-size: 15px;
    -fx-button-type: RAISED;
    -fx-background-color: white;
    -fx-pref-width: 30;
	-fx-stroke-width: 4;    
    -fx-text-fill: WHITE;
    -fx-font-weight: bold;     
}

#startButton {
    -fx-padding: 2 15 2 15;
	-fx-font-size: 15.0px;
	-fx-base: white;
	-fx-background: white;
	-fx-focus-color: #f78e3d;
	-fx-control-inner-background: #FFFFFF;
	-fx-text-base-color: #FFFFFF;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-color: white;
    -fx-background-radius: 5;
}

#startButton Text {
/*     -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 ); */
}

#startButton:hover {
	-fx-focus-color: #f78e3d;
	-fx-stroke-width: 5;
	-fx-background-color: #E9D66B;
}

#startButton:focused {
	-fx-background-color: white;
}

#clientIDLabel {
	-fx-text-fill: #cc6110;
	-fx-stroke-width: 3;
	-fx-font-size: 15.0px;
	/*-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );*/
}

#playerLabel{
	-fx-text-fill: #cc6110;
	-fx-stroke-width: 3;
	-fx-font-size: 15.0px;
	/*-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );*/
}

#gameModeLabel {
	-fx-text-fill: #cc6110;
	-fx-stroke-width: 3;
	-fx-font-size: 15.0px;
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#titleLabel {
	-fx-text-fill: #654b00; /* #e0b61d; */
	-fx-stroke-width: 3;
	-fx-font-size: 18.0px;
	-fx-font-weight: bold;  
/*	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 ); */
}

