{{>detail-head}}

## Name
{{authority.description}}

## Agenda

| Attribute      | Value |
|--------:|:------|
|Purpose:|{{authority.missionAgenda.name}}|
|Objective:|{{authority.missionAgenda.objectiveName}}|
|Findings:|{{authority.missionAgenda.reports}}|

## Targets

{{authority.missionAgenda.data}}

{{#authority.missionAgenda.capabilities}}
* {{description}}
{{/authority.missionAgenda.capabilities}}

## Countries

{{#authority.countries}}
* {{.}}
{{/authority.countries}}

{{>footer}}