---
title: {{title}}
linkTitle: {{complaint.name}}
toc_hide: true
hide_summary: true
---

## Characteristics

| Attribute      | Value |
|--------:|:------|
|Seriousness:|{{complaint.seriousness}}|
|Performance Impact:|{{complaint.performanceFactor}}|
|Probability:|{{complaint.probability}}|
|Degrade Time:|{{complaint.degradePeriod}} millisols|
|Bed Rest:|{{complaint.requiresBedRestRecovery}}|
|Recovery Period:|{{complaint.recoveryRange.min}} to {{complaint.recoveryRange.max}} sols|
|Influenced by Effort:|{{complaint.effortInfluence}}|
{{#complaint.recoveryTreatment}}
|Treatment:|[{{complaint.recoveryTreatment.name}}]({{treatmentfolder}}{{#filename}}{{complaint.recoveryTreatment.name}}{{/filename}})|
{{/complaint.recoveryTreatment}}
{{#complaint.nextPhase}}
|Next Phase:|[{{complaint.nextPhase.name}}]({{complaintfolder}}{{#filename}}{{complaint.nextPhase.name}}{{/filename}})|
{{/complaint.nextPhase}} 


{{>footer}}