---
title: {{title}}
linkTitle: {{manifest.name}}
toc_hide: true
hide_summary: true
---

## Characteristics

| Attribute      | Value |
|--------:|:------|
|New People:|{{manifest.people}}|

{{>settlement-supplies}}   

    
{{>footer}}