{{>detail-head}}


## Characteristics

| Attribute   | Value |
|--------:|:------|
|Category:|{{meal.category}}|
|Oil:|{{meal.oil}} kg|
|Salt:|{{meal.salt}} kg|

## Ingredients

|Name|Proportion|
|----|------:|---:|
{{#meal.ingredientList}}
|[{{name}}]({{resourcefolder}}{{#filename}}{{name}}{{/filename}})|{{proportion}}|
{{/meal.ingredientList}}



{{>footer}}