{{>detail-head}}

{{#part.description}}
## Description
{{part.description}}
{{/part.description}}

## Characteristics

| Attribute      | Value |
|--------:|:------|
|Mass:|{{part.massPerItem}} kg|
|Type:|{{part.goodType.getName}}|

{{>process-flow}}

{{>footer}}

