{{>detail-head}}

{{#process.description}}
## Description
{{process.description}}
{{/process.description}}

## Characteristics

| Attribute      | Value |
|--------:|:------|
|Type:|{{process-type}}|
|Skill Level:|{{process.skillLevelRequired}}|
|Tech Level:|{{process.techLevelRequired}}|
|Process Time:|{{process.processTimeRequired}} millisols|
|Work Level:|{{process.workTimeRequired}} millisols|
|Power Required:|{{process.powerRequired}} kW/hr|

{{>process-inout}}

{{>footer}}

