{{>detail-head}}

## Characteristics

| Attribute      | Value |
|--------:|:------|
|Medical Skill:|{{treatment.skill}}|
|Facility Tech Level:|{{treatment.facilityLevel}}|
|Duration:|{{treatment.duration}} millisols|
|Self Admin:|{{treatment.selfAdminister}}|

{{>footer}}