{{>detail-head}}

## Characteristics

| Attribute      | Value |
|--------:|:------|
|Medical Skill Level:|{{treatment.skillLevel}}|
|Medical Skill Type:|{{treatment.skillType}}|
|Facility Tech Level:|{{treatment.facilityLevel}}|
|Duration:|{{treatment.duration}} millisols|
|Self Admin:|{{treatment.selfAdminister}}|

{{>footer}}