{{<help-layout}}
  {{$body}}
    <p>{{description}}</p>
    <ul>
    {{#entities}}
      <li><a href="{{typefolder}}{{#filename}}{{.}}{{/filename}}">{{.}}</a></li>
    {{/entities}}
    </ul>
    </br>
  {{/body}}
{{/help-layout}}