{{<help-layout}}
  {{$body}}
    <p>{{description}}</p>
    <div id="groups">
    <p>Grouped by {{groupname}}.</p>
    {{#groups}}
      <a style="display: inline;" href="#{{id}}">{{name}}</a>
    {{/groups}}
    </div>
    {{#groups}}
      <h3 id="{{id}}">{{name}}</h3>
      <ul>
      {{#items}}
        <li><a href="{{typefolder}}{{#filename}}{{name}}{{/filename}}">{{name}}</a></li>
      {{/items}}
      </ul>
      <a class="backlink" href="#top">Back to the top</a>
    {{/groups}}
    </br>
  {{/body}}
{{/help-layout}}