<!DOCTYPE html>
<!-- Generated for mars-sim by Help Generator -->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Mars Simulation Project - {{title}}</title>
		<link rel="stylesheet" href="../msp.css">
	</head>
	<body>
    {{$body}}
    <p>Nothing present</p>
    {{/body}}
	</body>
  <footer><small>Version: {{version}} Generated on: {{generatedOn}}</small></footer>
</html>