{{<help-layout}}
  {{$body}}
    <div id="characteristics">
      <h3>Characteristics</h3>
      <table class="characteristics">
        <tr><td>New Persons:</td><td>{{people}}</td></tr>
      </table>
    </div>

    {{>settlement-supplies}}   

  {{/body}}
{{/help-layout}}