{{<help-layout}}
  {{$body}}
    <h2>Part - {{part.name}}</h2>
    {{#part.description}}
    <h3>Description</h3>
    <p>{{part.description}}</p>
    {{/part.description}}   
    <h3>Characteristics</h3>
    <table>
      <tr><td>Mass:</td><td>{{part.massPerItem}} kg</td></tr>
      <tr><td>Type:</td><td>{{part.goodType.getName}}</td></tr>
    </table>
    {{>process-flow}}

    </br>
    <a href="index.html">Back to Part list</a>
  {{/body}}
{{/help-layout}}
