{{<help-layout}}
  {{$body}}
    <h2> Resource - {{resource.name}}</h2>
    {{#resource.description}}
    <h3>Description</h3>
    <p>{{resource.description}}</p>
    {{/resource.description}}
    <div id="characteristics">
    <h3>Characteristics</h3>
    <table class="characteristics">
    <tr><td>Edible:</td><td>{{resource.isEdible}}</td></tr>
    <tr><td>Type:</td><td>{{resource.goodType.getName}}</td></tr>
    <tr><td>Form:</td><td>{{resource.phase.getName}}</td></tr>
    </table>
    </div>
    {{>process-flow}}

    {{^foodOutput.isEmpty}}
    <div  id="foodcreators" class="detailsSection">
      <h3>Made by Food Process</h3>
      <ul>
      {{#foodOutput}}
        <li><a href="{{foodfolder}}{{#filename}}{{name}}{{/filename}}">{{name}}</a></li>
      {{/foodOutput}}
      </ul>
    </div>
    {{/foodOutput.isEmpty}}
    
    {{^foodInput.isEmpty}}
    <div id="foodconsumers" class="detailsSection">
      <h3>Used by Food Process</h3>
      <ul>
      {{#foodInput}}
        <li><a href="{{foodfolder}}{{#filename}}{{name}}{{/filename}}">{{name}}</a></li>
      {{/foodInput}}
      </ul>
    </div>
    {{/foodInput.isEmpty}}

    </br>
    <a class="backlink" href="index.html">Back to Resource list</a>
  {{/body}}
{{/help-layout}}
