/**
 * Mars Simulation Project
 * msp.css
 * @version 2.84 2008-05-15
 * @author Lars Naesbye Christensen
 */

/* In type selection, prefer humanist sans-serif typefaces for readable, easy-on-the-eyes body text. Ranked with most modern fonts first. */

body {
  font-family: "Calibri", "Lucida Grande", "Trebuchet MS", Myriad, Frutiger, sans-serif;
  font-size: 12px;
  color: #000000;
  background-color: #CCDDCC;
}

p {
  margin-left: 5px;
}

h2 {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

h3 {
  font-size: 12px;
  font-weight: bold;
}

a:link {
  color: #0000FF;
}

a:visited {
  color: #F000F0;
 }
