<!DOCTYPE html>
<html lang="en">
<head>
<!--
//Author: 		Manny Kung
//Rev: 			14 Nov 2015
//Filename: 	index.html
-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1"></meta>
<title>Space Colonization Simulator - a Space Management Game : Space is finally open for business.</title>
<link href="" rel="stylesheet"></link>
<script src='js2/three.min.js'></script>
<script src='js2/threex.planets.js'></script>
<script src='js2/threex.atmospherematerial.js'></script>
<!-- include for threex.glowdatgui -->
<script src='js2/dat.gui.min.js'></script>
<script src="js2/threex.atmospheredatgui.js"></script>
<!--script src="http://repo.zebkit.org/latest/zebra.min.js"></script-->
<script src="js2/zebra.min.js"></script>


<script type="text/javascript">
	   zebra.ready(function() {
	   // import all classes, functions, constants
	   // from zebra.ui, zebra.layout packages
	   eval(zebra.Import("ui", "layout"));

	   // create canvas
	   var root = (new zCanvas(400, 150)).root;
	   root.properties({
	       layout : new BorderLayout(8,8),
	       border : new Border(),
	       padding: 8,
	       kids: {
					 CENTER: new TextField("Welcome to the Space Colonization Simulator !\n", true),
					 BOTTOM: new Button("Clear").properties({
					     canHaveFocus: false
					 })
					 //BOTTOM: new Button("Ok")
	       }
	   });

	   root.find("//zebra.ui.Button").bind(function() {
	       root.find("//zebra.ui.TextField").setValue("");
	   });
	});
</script>

<script type="text/javascript">
/*
var FizzyText = function() {
  this.message = 'Mars';
  this.speed = 0.8;
  this.displayOutline = false;
  //this.explode = function() { ... };
  // Define render logic ...
	this.noiseStrength = 1;
	this.growthSpeed = 0;
	this.maxSize = .5;
	this.Hiring = '';
	this.speed = 0;
};
*/
window.onload = function() {
	/*
  var text = new FizzyText();
  var gui = new dat.GUI();
  gui.add(text, 'message');
  gui.add(text, 'speed', -5, 5);
  gui.add(text, 'displayOutline');
  //gui.add(text, 'explode');
	gui.add(text, 'noiseStrength').step(5); // Increment amount
	gui.add(text, 'growthSpeed', -5, 5); // Min and max
	gui.add(text, 'maxSize').min(0).step(0.25); // Mix and match
	// Choose from accepted values
	gui.add(text, 'Hiring', [ 'Engineer', 'Manager', 'Scientist', 'Life Specialist' ] );
	// Choose from named values
	gui.add(text, 'speed', { Stopped: 0, Slow: 0.1, Fast: 5 } );
*/

	//var fizzyText = new FizzyText();
	//var gui2 = new dat.GUI({ load: JSON });
	var gui = new dat.GUI(); //{
//	    height : 5 * 32 - 1
//	});

	var status = {
			Day: 1,
	    Population: 8000000
	};
	gui.add(status, 'Day');
	gui.add(status, 'Population');
/*
	var employee = {
			Engineer: 1,
	    Life Specialist: 1,
			Manager: 1,
			Scientist: 1
	};

	var f1 = gui.addFolder('Stat');
	f1.add(status, 'Day');
	f1.add(status, 'Cash');

	var f2 = gui.addFolder('Workforce');
	f2.add(employee, 'Engineer');
	f2.add(employee,'Life Specialist');
	f2.add(employee, 'Manager');
	f2.add(employee,'Scientist');

	f2.open();
*/
	//gui2.remember(fizzyText);

/*
	var f1 = gui2.addFolder('Stat');
	f1.add(text, 'Day');
	f1.add(text, 'Cash');

	var f2 = gui2.addFolder('Workforce');
	f2.add(text, 'Engineer');
	f2.add(text, 'Life Specialist');
	f2.add(text, 'Manager');
	f2.add(text, 'Scientist');

	f2.open();
*/
};

</script>
</head>

<body style='margin: 0px; background-color: #000000; overflow: hidden;'>

<script>
	var renderer	= new THREE.WebGLRenderer({
		antialias	: true
	});
	renderer.setSize( window.innerWidth, window.innerHeight );
	document.body.appendChild( renderer.domElement );
	renderer.shadowMapEnabled	= true

	var onRenderFcts= [];
	var scene	= new THREE.Scene();
	var camera	= new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 0.01, 100 );
	camera.position.z = 1;

	var light	= new THREE.AmbientLight( 0x222222 )
	scene.add( light )

	var light	= new THREE.DirectionalLight( 0xffffff, 1 )
	light.position.set(5,5,5)
	scene.add( light )
	light.castShadow	= true
	light.shadowCameraNear	= 0.01
	light.shadowCameraFar	= 15
	light.shadowCameraFov	= 45

	light.shadowCameraLeft	= -1
	light.shadowCameraRight	=  1
	light.shadowCameraTop	=  1
	light.shadowCameraBottom= -1
	// light.shadowCameraVisible	= true

	light.shadowBias	= 0.001
	light.shadowDarkness	= 0.2

	light.shadowMapWidth	= 1024
	light.shadowMapHeight	= 1024

	//////////////////////////////////////////////////////////////////////////////////
	//		added starfield							//
	//////////////////////////////////////////////////////////////////////////////////

	var starSphere	= THREEx.Planets.createStarfield()
	scene.add(starSphere)

	//////////////////////////////////////////////////////////////////////////////////
	//		add an object and make it move					//
	//////////////////////////////////////////////////////////////////////////////////

	// var datGUI	= new dat.GUI()

	var containerEarth	= new THREE.Object3D()
	containerEarth.rotateZ(-23.4 * Math.PI/180)
	containerEarth.position.z	= 0
	scene.add(containerEarth)

	var moonMesh	= THREEx.Planets.createMoon()
	moonMesh.position.set(0.5,0.5,0.5)
	moonMesh.scale.multiplyScalar(1/5)
	moonMesh.receiveShadow	= true
	moonMesh.castShadow	= true
	containerEarth.add(moonMesh)

	var earthMesh	= THREEx.Planets.createEarth()
	earthMesh.receiveShadow	= true
	earthMesh.castShadow	= true
	containerEarth.add(earthMesh)
	onRenderFcts.push(function(delta, now){
		earthMesh.rotation.y += 1/32 * delta;
	})

	var geometry	= new THREE.SphereGeometry(0.5, 32, 32)
	var material	= THREEx.createAtmosphereMaterial()
	material.uniforms.glowColor.value.set(0x00b3ff)
	material.uniforms.coeficient.value	= 0.8
	material.uniforms.power.value		= 2.0
	var mesh	= new THREE.Mesh(geometry, material );
	mesh.scale.multiplyScalar(1.01);
	containerEarth.add( mesh );
	// new THREEx.addAtmosphereMaterial2DatGui(material, datGUI)

	var geometry	= new THREE.SphereGeometry(0.5, 32, 32)
	var material	= THREEx.createAtmosphereMaterial()
	material.side	= THREE.BackSide
	material.uniforms.glowColor.value.set(0x00b3ff)
	material.uniforms.coeficient.value	= 0.5
	material.uniforms.power.value		= 4.0
	var mesh	= new THREE.Mesh(geometry, material );
	mesh.scale.multiplyScalar(1.15);
	containerEarth.add( mesh );
	// new THREEx.addAtmosphereMaterial2DatGui(material, datGUI)

	var earthCloud	= THREEx.Planets.createEarthCloud()
	earthCloud.receiveShadow	= true
	earthCloud.castShadow	= true
	containerEarth.add(earthCloud)
	onRenderFcts.push(function(delta, now){
		earthCloud.rotation.y += 1/8 * delta;
	})

	//////////////////////////////////////////////////////////////////////////////////
	//		Camera Controls							//
	//////////////////////////////////////////////////////////////////////////////////
	var mouse	= {x : 0, y : 0}
	document.addEventListener('mousemove', function(event){
		mouse.x	= (event.clientX / window.innerWidth ) - 0.5
		mouse.y	= (event.clientY / window.innerHeight) - 0.5
	}, false)
	onRenderFcts.push(function(delta, now){
		camera.position.x += (mouse.x*5 - camera.position.x) * (delta*3)
		camera.position.y += (mouse.y*5 - camera.position.y) * (delta*3)
		camera.lookAt( scene.position )
	})


	//////////////////////////////////////////////////////////////////////////////////
	//		render the scene						//
	//////////////////////////////////////////////////////////////////////////////////
	onRenderFcts.push(function(){
		renderer.render( scene, camera );
	})

	//////////////////////////////////////////////////////////////////////////////////
	//		loop runner							//
	//////////////////////////////////////////////////////////////////////////////////
	var lastTimeMsec= null
	requestAnimationFrame(function animate(nowMsec){
		// keep looping
		requestAnimationFrame( animate );
		// measure time
		lastTimeMsec	= lastTimeMsec || nowMsec-1000/60
		var deltaMsec	= Math.min(200, nowMsec - lastTimeMsec)
		lastTimeMsec	= nowMsec
		// call each update function
		onRenderFcts.forEach(function(onRenderFct){
			onRenderFct(deltaMsec/1000, nowMsec/1000)
		})
	})
</script>

</body>
</html>
