/**
 * Mars Simulation Project
 * msp2.css
 * @version 3.1.2 2020-09-02
 * @author Manny Kung
 */
 
a, a:link, a:visited, a:hover{color:rgb(184, 134, 11); text-decoration:none;}
body {
	background-color: rgb(50, 50, 50);
	font-family: Arial, Helvetica, sans-serif;
	}
