<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="1.0+"
    codebase="http://mars-sim.sourceforge.net/webstart/"
    href="$outputFile">
  <information>
    <title>Mars Simulation Project</title>
    <homepage href="http://mars-sim.sourceforge.net/"/>
    <description kind="one-line">Mars Simulation Project</description>
    <description kind="short">Mars Simulation Project</description>
    <description kind="tooltip">Mars Simulation Project</description>
    <icon href="icon.png" width="64" height="64"/>
    <vendor>Mars Simulation Project</vendor>
      <offline-allowed/>
      <shortcut online="true">
        <desktop/>
      </shortcut>
  </information>
  <security>
     <all-permissions/>
  </security>
  <resources>
    <j2se version="1.8" max-heap-size="1024m"/>
    $dependencies
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp>
