Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: default-jre (>= 17)
Maintainer: Manny Kung <mannykung@gmail.com>
Homepage: https://mars-sim.github.io
Distribution: development
Description: Mars Simulation Project
 An open source simulation of Mars exploration and colonization.  Its console menu and 
 the Swing GUI offers players with a functional view of the running simulation as well
 as the ability to interact with the settlements and the settlers within them.
