---
title: {{crew.name}}
parent: {{type.title}}
nav_exclude: false
---
# Crew - {{crew.name}}

## Description
{{crew.description}}

## Members

|Name|Gender|Age|Job|Country|Sponsor|
|----|------|---|---|-------|-------|
{{#crew.team}}
|{{name}}|{{gender.getName}}|{{age}}|{{job}}|{{country}}|{{sponsor}}|
{{/crew.team}}

{{>footer}}