---
title: {{food.name}}
parent: {{type.title}}
nav_exclude: false
---
# Food - {{food.name}}

{{#food.description}}
## Description
{{food.description}}
{{/food.description}}

## Characteristics

| Attribute      | Value |
|--------:|:------|
|Skill Level:|{{food.skillLevelRequired}}|
|Tech Level:|{{food.techLevelRequired}}|
|Process Time:|{{food.processTimeRequired}} millisols|
|Work Level:|{{food.workTimeRequired}} millisols|
|Power Required:|{{food.powerRequired}} kW/hr|

{{>process-inout}}

{{>footer}}

