---
title: {{manifest.name}}
parent: {{type.title}}
nav_exclude: true
---
# Resupply Manifest - {{manifest.name}}

## Characteristics

| Attribute      | Value |
|--------:|:------|
|New People:|{{manifest.people}}|

{{>settlement-supplies}}   

    
{{>footer}}