---
title: {{part.name}}
parent: {{type.title}}
nav_exclude: true
---
# Part - {{part.name}}

{{#part.description}}
## Description
{{part.description}}
{{/part.description}}

## Characteristics

| Attribute      | Value |
|--------:|:------|
|Mass:|{{part.massPerItem}} kg|
|Type:|{{part.goodType.getName}}|

{{>process-flow}}

{{>footer}}

