## {{inputsTitle}}

{{#inputs}}
|{{#typefolder}}[{{name}}]({{typefolder}}{{#filename}}{{name}}{{/filename}}){{/typefolder}}{{^typefolder}}{{name}}{{/typefolder}}|{{type}}|{{amount}}|
{{/inputs}}

## {{outputsTitle}}

{{#outputs}}
|{{#typefolder}}[{{name}}]({{typefolder}}{{#filename}}{{name}}{{/filename}}){{/typefolder}}|{{amount}}|
{{/outputs}}
