.root {
  /*-fx-border-insets: 23;*/
  -fx-background-color: brown;   
  /*-fx-background-insets: 23;*/
  -fx-background-radius: 2;
  -fx-border-radius: 6;
  -fx-border-color: brown;
  -fx-border-style: solid;
  -fx-border-width: 3;
/*  -fx-opacity: 0.0; */
  -fx-effect: dropshadow(three-pass-box, peru, 6, 0, 7.5, 7.5);
}

/*
.root {
	-fx-background-color: transparent;
    -fx-background-radius: 10; 
    -fx-opacity: 0.5;   
}
*/
