/**
 * Mars Simulation Project
 * editor.css
 * @version 3.08 2015-04-11
 * @author Manny Kung
 */

/*
 The Stage background.
*/
.decoration-background{
-fx-fill: radial-gradient(focus-angle 45deg, focus-distance 20%, center 25% 25%, radius 50%, reflect, #eeeeee88, #aaaaaa88 75%, gray);
-fx-stroke-width: 0;
-fx-arc-width:20px;
-fx-arc-height:20px;
}
/*
Defines the rectangle responsible for the shadow
*/
.decoration-shadow{
-fx-fill: black;
-fx-stroke-width: 0;
-fx-arc-width:20px;
-fx-arc-height:20px;
}


.label {
	-fx-font-size: 15.0px;
    -fx-stroke-width: 3;
    -fx-font-weight: bold;
    -fx-text-fill: #e5f3f6; /* #FFB03B; light mud color*/
    -fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);
}

#startButton {
    -fx-padding: 2 15 2 15;
	-fx-font-size: 15.0px;
	-fx-base: #00a7d4;
	-fx-background: #e5f3f6;
	-fx-focus-color: #0093FF;
	-fx-control-inner-background: #FFFFFF;
	-fx-text-base-color: #FFFFFF;
	-fx-background-color:#00a7d4;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-color:#00a7d4;
	-fx-background-radius: 5;
 /*   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 ); */
    
}

#startButton Text {
    -fx-fill: yellow;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#startButton:hover {
	-fx-font-size: 16.0px;
/*    -fx-background-color: linear-gradient(#1E90FF, #61a2b1); */
}

.button {
	-fx-font-size: 15.0px;
	-fx-base: #00a7d4;
	-fx-background: #e5f3f6;
	-fx-focus-color: #0093FF;
	-fx-control-inner-background: #FFFFFF;
	-fx-text-base-color: #FFFFFF;
	-fx-background-color:#00a7d4;
	-fx-inner-border: linear-gradient(to bottom, derive(-fx-color,73.6%) 0%, derive(-fx-color,29.200000000000003%) 100%);
	-fx-body-color: linear-gradient( to bottom, derive(-fx-color, 34.0%) 0%, derive(-fx-color, -18.0%) 100%);
	-fx-background-insets: 0px;
	-fx-background-radius: 0px;
	-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
	-fx-text-fill: -fx-text-base-color;
	-fx-alignment: CENTER;
	-fx-content-display: LEFT;
	-fx-background-radius: 5;
	
    -fx-stroke-width: 3;
    -fx-font-weight: bold;
/*	-fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0); */
	
}

.button:focused {
	-fx-color:#00a7d4;
	-fx-background-color:#ED9C28, #00a7d4;
	-fx-background-insets: -1.4, 0, 1, 2;
	-fx-background-radius: 0;
}

.button:hover {
	-fx-focus-color: #FF0000;
	-fx-background-color: #ED9C28, #0187ab;
}

.button:pressed {
/*
    -fx-padding: 15 5 15 5;
    -fx-background-insets: 2 0 0 0,2 0 1 0, 2 0 2 0, 2 0 3 0;
*/
}

#clientIDLabel {
	-fx-focus-color: #FF0000;
	-fx-text-base-color: #0187ab;
}

#playerLabel {
	-fx-focus-color: #FF0000;
	-fx-text-base-color: #0187ab;
}

#gameModeLabel {
	-fx-focus-color: #FF0000;
	-fx-text-base-color: #0187ab;
}

#titleLabel {
	-fx-focus-color: #FF0000;
	-fx-text-base-color:  #0187ab;
}

