/**
 * Mars Simulation Project
 * crewEditorFXOrange.css
 * General CSS classes for MSP UI
 * @version 3.08 2015-10-15
 * @author Manny Kung
 */

.combo-box .text-field {
	-fx-font-size: 14.0px;
    -fx-stroke-width: 2;
    -fx-font-weight: italic;
    -fx-prompt-text-fill:  #ff9937;
}

.combo-box .text-field:focused {
    -fx-prompt-text-fill:  #ff9937;
    -fx-background-color: #d16700, #ff9937, #e79d1b;
}

.text-field {
    -fx-stroke-width: 2;
    -fx-font-weight: bold;
    -fx-background-color: #d16700, #ff9937, #ffca96;
 /*   -fx-shadow-highlight-color, -fx-text-box-border, -fx-control-inner-background; */
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 2;
    -fx-padding: 0.25em 0.416667em  0.333333em 0.416667em; /* 3 5 4 5 */
    -fx-text-fill: #e79d1b; /*-fx-text-inner-color;*/
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-cursor: text;
}

.titled-pane  {
	-fx-font-size: 14.0px;
    -fx-stroke-width: 2;
    -fx-font-weight: italic;
	-fx-text-fill: #FFFFFF;
/*	-fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0); */
}

.titled-pane:focused {
	-fx-text-fill:#FFFFFF;
}

.titled-pane > .title {
    -fx-font-weight: italic;
    -fx-font-weight: bold;
    -fx-stroke-width: 2;
	-fx-background-color: #EFA447;
	-fx-box-border : #EFA447;
	-fx-inner-border :  #EFA447;
	-fx-body-color :#EFA447;
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
	-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.titled-pane:focused > .title {
	-fx-color: #FFFFFF;
	-fx-focus-color: #EFA447; /* ff3c08; */
}

.titled-pane > *.content {
	-fx-background-color: #EFA447;
	-fx-box-border: #EFA447;
		linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%,
	      derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
	-fx-background-insets: 0, 0 1 1 1;
	-fx-padding: 0.167em;
 }

.label {
	-fx-text-fill: #d16700;
	-fx-stroke-width: 3;
	-fx-font-size: 15.0px;
}


#commitButton {
    -fx-padding: 2 15 2 15;
	-fx-font-size: 15.0px;
	-fx-base: #00a7d4;
	-fx-background: #d16700;
	-fx-focus-color: #0093FF;
	-fx-control-inner-background: #FFFFFF;
	-fx-text-base-color: #FFFFFF;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-color:#00a7d4;
	-fx-background-radius: 5;

}

#commitButton:focused {
	-fx-focus-color: #ff3c08;
	-fx-stroke-width: 5;
	-fx-background-color: #ff8000;
}

#commitButton:hover {
	-fx-font-size: 16.0px;
	-fx-focus-color: #ff3c08;
}

