/**
 * Mars Simulation Project
 * mainmenu.css
 * General CSS classes for MSP UI
 * @version 3.08 2015-10-15
 * @author Manny Kung
 */

#option{
    -fx-fill: white; /*#FFB03B; /*light mud color*/
}


#option:hover {
	-fx-font-size: 26.0px;
    -fx-stroke-width: 3;
    -fx-font-weight: bold;
	-fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);

}