/**
 * Mars Simulation Project
 * mainskin.css
 * General CSS classes for MSP UI
 * @version 3.08 2015-01-27
 * @author Lars Næsbye Christensen
 */
/*
 The Stage background.
*/

.root {

	-fx-border-insets: 23;
	-fx-background-insets: 23;
	-fx-background-radius: 6;
	-fx-border-radius: 6;
	-fx-border-color: gray;
 	-fx-border-style: solid;
	-fx-border-width: 3;

}

.decoration-background{
	-fx-fill: radial-gradient(focus-angle 45deg, focus-distance 20%, center 25% 25%, radius 50%, reflect, #eeeeee88, #aaaaaa88 75%, gray);
	-fx-stroke-width: 0;
	-fx-arc-width:20px;
	-fx-arc-height:20px;

	-fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);

}
/*
Defines the rectangle responsible for the shadow
*/
.decoration-shadow{
	-fx-fill: black;
	-fx-stroke-width: 0;
	-fx-arc-width:20px;
	-fx-arc-height:20px;
}

.text{
    -fx-fill: #FFB03B;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.text:hover{
    -fx-fill: #ffef00;
}
