[Desktop Entry]
Encoding=UTF-8
Name=Mars Simulation Project
Version=pre-3.5.0
Comment=A Simulation of future human settlements on the Red Planet
GenericName=mar-sim
Exec=/usr/bin/mars-sim
Icon=/usr/share/doc/mars-sim-main/icon.png
Terminal=false
Type=Application
Categories=Education;Science;Simulation
StartupNotify=true