name: Docker

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - master

    # Only auto build when a tag is made; otherwise manual
    # Publish `v1.2.3` tags as releases.
    tags:
      - v*

  # Run tests for any PRs.
  pull_request:

env:
  IMAGE_NAME: mars-sim

jobs:
  # Push image to GitHub Packages.
  # See also https://docs.docker.com/docker-hub/builds/
  push:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
          
      - name: Build with Maven
        run: mvn -B package -DskipTests=true --file pom.xml 
        
      - name: Build imagewith Package Docker
        run: |
          # Find the project version off the MVN pom
          MARS_VERSION=$(mvn org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=project.version -q -DforceStdout)
          
          # Build the image
          docker build . --build-arg version_name=$MARS_VERSION --file Dockerfile --tag $IMAGE_NAME

          
      - name: Log into registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin

      - name: Push image
        run: |
          IMAGE_ID=docker.pkg.github.com/${{ github.repository }}/$IMAGE_NAME

          # Change all uppercase to lowercase
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          
          # Find the project version off the MVN pom
          MARS_VERSION=$(mvn org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate -Dexpression=project.version -q -DforceStdout)
          
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$MARS_VERSION

          docker tag $IMAGE_NAME $IMAGE_ID:$MARS_VERSION
          docker push $IMAGE_ID:$MARS_VERSION
