/* 
    Document   : autofill.css
    Created on : Sep 18, 2011, 10:01:08 AM
    Author     : WEBNEP
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


.autofill-text{
    -fx-skin:"org.mars_sim.msp.ui.javafx.autofill.AutoFillTextBoxSkin";
}
/*
root { 
    display: block;
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
	-fx-faint-focus-color : transparent;
	-fx-font: 11pt 'Corbel';
	-fx-shadow-highlight-color : transparent;
}
*/
.autofill-input {
	-fx-font: 11pt 'monospace';
    -fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 10, 10, 10, 10;
    -fx-cursor: text;
    -fx-padding: 0.333333em 0.583em 0.333333em 0.583em; /* 4 7 4 7 */
}
.autofill-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color: 
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 10, 10, 10, 10;
    -fx-prompt-text-fill: transparent;
}

.button-clear {
	-fx-background-color: white;
    -fx-background-image: url("../../../icons/chatbox/clear.png");
}
.button-clear:hover {
	-fx-background-color: white;
    -fx-background-image: url("../../../icons/chatbox/clear-over.png");
}

